<html>
	<head>
		<title>Accueil</title>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/style.css') }}">
	</head>
	<body>
		<h1 class="big_title">bienvenue</h1>

		{% if hasError %}
			<div class='Error'>{{hasError}}</div>
		{% endif %}

	</body>
	<footer>
		<a href='{{ url_for("index") }}'>Accueil</a>
	</footer>
</html>
