
html {
	margin:0;
	width: 100%;
	height: 100%;
}



body {
	margin: 0;
	width: 100%;
	height: 100%;
	background-color: #036992;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	font-family: 'Ek Mukta';
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: 3px;
	min-height: 100%;
}

p
{
	letter-spacing: normal;
	text-transform: none;
}

.error
{
	color: red;
}

.big_title {
	text-align: center;
	color: #FFFFFF;
	font-variant: small-caps;
}

.error {
	color: red;
}

footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: black;
	color: white;
	text-align: center;
}

footer a {
	color: white;
}

.block {
	height: 15%;
}

.signature {

}

.form_2_select {
	position: relative;
	width: 18rem;
	margin-top: 8vh;
}

.input_aa {
	font-family: 'Ek Mukta';
	text-align: center;
	position: center;
}


ol {
  background: #ff9999;
  padding: 20px;
}

ul {
  background: #3399ff;
  padding: 20px;
  list-style-type:none;
}

ol li {
  background: #ffe5e5;
  padding: 5px;
  margin-left: 35px;
}

ul li {
  background: #cce5ff;
  margin: 5px;
}
